<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.javastart.ap">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDw4wNIrCNSjG6eOv3ma_0HB-X-UzmMBIE" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllLessonsActivity"
            android:label="Lista przykładów" />

        <!-- Layouts -->

        <activity
            android:name=".layouts.LayoutListActivity"
            android:label="Layouty"
            android:parentActivityName=".AllLessonsActivity" />
        <activity
            android:name=".layouts.LayoutExampleActivity"
            android:label="Layout - Przykład z lekcji"
            android:parentActivityName=".layouts.LayoutListActivity" />
        <activity
            android:name=".layouts.LayoutTrainingActivity"
            android:label="Layout - Zadanie 1"
            android:parentActivityName=".layouts.LayoutListActivity" />
        <activity
            android:name=".layouts.LayoutDependingOnOrientationActivity"
            android:label="Wygląd w zależności od orientacji"
            android:parentActivityName=".layouts.LayoutListActivity" />

        <!-- Intent -->
        <activity
            android:name=".intent.IntentListActivity"
            android:label="Intent"
            android:parentActivityName=".AllLessonsActivity" />
        <activity
            android:name=".intent.IntentExampleActivity"
            android:label="Intent - Przykład"
            android:parentActivityName=".intent.IntentListActivity" />
        <activity
            android:name=".intent.IntentHomeworkActivity"
            android:label="Intent - Zadanie"
            android:parentActivityName=".intent.IntentListActivity" />

        <!-- Listy (ListView) -->
        <activity
            android:name=".listview.ListExampleSelectionActivity"
            android:label="Listy (ListView)"
            android:parentActivityName=".AllLessonsActivity" />
        <activity
            android:name=".listview.SimpleListActivity"
            android:label="Prosta lista"
            android:parentActivityName=".listview.ListExampleSelectionActivity" />
        <activity
            android:name=".listview.CustomListActivity"
            android:label="Lista niestandardowa"
            android:parentActivityName=".listview.ListExampleSelectionActivity" />
        <activity
            android:name=".listview.AlternatelyItemColorListActivity"
            android:label="Naprzemienne kolory"
            android:parentActivityName=".listview.ListExampleSelectionActivity" />

        <!-- Shared Preferences -->
        <activity
            android:name=".sharedpreferences.SharedPreferencesActivity"
            android:label="SharedPreferences"
            android:parentActivityName=".AllLessonsActivity" />

        <!-- Dialog -->
        <activity
            android:name=".dialog.DialogActivity"
            android:label="Dialogi"
            android:parentActivityName=".AllLessonsActivity" />

        <!-- Fragmenty -->
        <activity
            android:name=".fragment.AnimalListFragmentActivity"
            android:label="@string/title_activity_fragment"
            android:parentActivityName=".AllLessonsActivity" />
        <activity
            android:name=".fragment.AnimalDetailActivity" />
            android:label="Info"
            android:parentActivityName=".fragment.FragmentActivity" />

        <!-- Ustawienia (Preferences) -->
        <activity
            android:name=".preference.CurrentPreferencesActivity"
            android:label="Aktualne ustawienia"
            android:parentActivityName=".AllLessonsActivity" />
        <activity
            android:name=".preference.PreferenceExampleActivity"
            android:label="Zmiana ustawień"
            android:parentActivityName=".preference.CurrentPreferencesActivity" />
        <activity
            android:name=".preference.HomeworkPreferenceActivity"
            android:label="Zadanie"
            android:parentActivityName=".preference.CurrentPreferencesActivity" />

        <!-- Material design -->
        <activity
            android:name=".material.MaterialDesignListActivity"
            android:parentActivityName=".AllLessonsActivity" />
        <activity
            android:name=".material.ToolbarActivity"
            android:parentActivityName=".material.MaterialDesignListActivity"
            android:theme="@style/Theme.Custom.AppCompat.NoActionBar2" />
        <activity
            android:name=".material.StatusBarColorActivity"
            android:parentActivityName=".material.MaterialDesignListActivity"
            android:theme="@style/Theme.Custom.AppCompat.NoActionBar2" />
        <activity
            android:name=".material.MaterialColorsActivity"
            android:parentActivityName=".material.MaterialDesignListActivity"
            android:theme="@style/Theme.Custom.MaterialColors" />
        <activity
            android:name=".material.FloatingActionButtonActivity"
            android:parentActivityName=".material.MaterialDesignListActivity"
            android:theme="@style/Theme.Custom.MaterialColors" />
        <activity
            android:name=".material.CardViewActivity"
            android:parentActivityName=".material.MaterialDesignListActivity"
            android:theme="@style/Theme.Custom.MaterialColors" />

        <!-- Camera -->
        <activity
            android:name=".camera.CameraSelectionActivity"
            android:label="Obsługa aparatu"
            android:parentActivityName=".AllLessonsActivity" />
        <activity
            android:name=".camera.SimpleCameraActivity"
            android:label="Uruchomienie aparatu"
            android:parentActivityName=".camera.CameraSelectionActivity" />
        <activity
            android:name=".camera.GlideCameraActivity"
            android:label="Glide"
            android:parentActivityName=".camera.CameraSelectionActivity" />

        <!-- Navigation drawer -->
        <activity
            android:name=".navigationdrawer.DesignNavigationDrawerActivity"
            android:label="Design navigation drawer"
            android:parentActivityName=".AllLessonsActivity"
            android:theme="@style/Theme.Custom.AppCompat.NoActionBar" />

        <!-- File System -->
        <activity
            android:name=".filesystem.FileSystemListActivity"
            android:label="System plików"
            android:parentActivityName=".AllLessonsActivity" />
        <activity
            android:name=".filesystem.FileSystemActivity"
            android:label="System plików"
            android:parentActivityName=".filesystem.FileSystemListActivity" />
        <activity
            android:name=".filesystem.FileSystemHomeworkActivity"
            android:label="System plików"
            android:parentActivityName=".filesystem.FileSystemListActivity" />

        <!-- AsyncTask -->
        <activity
            android:name=".asynctask.AsyncTaskListActivity"
            android:label="AsyncTask"
            android:parentActivityName=".AllLessonsActivity" />
        <activity
            android:name=".asynctask.AsyncTaskExampleActivity"
            android:label="AsyncTask Lekcja"
            android:parentActivityName=".asynctask.AsyncTaskListActivity" />
        <activity
            android:name=".asynctask.AsyncTaskTrainingActivity"
            android:label="AsyncTask Zadanie"
            android:parentActivityName=".asynctask.AsyncTaskListActivity" />

        <!-- Database -->
        <activity
            android:name=".database.DatabaseListActivity"
            android:label="Baza danych"
            android:parentActivityName=".AllLessonsActivity" />

        <!-- Database manual -->
        <activity
            android:name=".database.manual.ManualDatabaseUserListActivity"
            android:label="Lista użytkowników"
            android:parentActivityName=".database.DatabaseListActivity" />
        <activity
            android:name=".database.manual.ManualDatabaseUserActivity"
            android:label="Użytkownik"
            android:parentActivityName=".database.manual.ManualDatabaseUserListActivity" />

        <!-- Database OrmLite -->
        <activity
            android:name=".database.ormlite.OrmLiteDatabaseUserListActivity"
            android:label="Lista użytkowników"
            android:parentActivityName=".database.DatabaseListActivity" />
        <activity
            android:name=".database.ormlite.OrmLiteDatabaseUserActivity"
            android:label="Użytkownik"
            android:parentActivityName=".database.manual.ManualDatabaseUserListActivity" />

        <!-- Database GreenDao -->
        <activity
            android:name=".database.greendao.GreenDaoDatabaseUserListActivity"
            android:label="Lista użytkowników"
            android:parentActivityName=".database.DatabaseListActivity" />
        <activity
            android:name=".database.greendao.GreenDaoDatabaseUserActivity"
            android:label="Użytkownik"
            android:parentActivityName=".database.greendao.GreenDaoDatabaseUserListActivity" />

        <!-- Action Bar -->
        <activity
            android:name=".actionbar.ActionBarActivity"
            android:label="Action Bar"
            android:parentActivityName=".AllLessonsActivity" />

        <!-- Maps -->
        <activity
            android:name=".maps.MapsActivity"
            android:label="Google Map"
            android:parentActivityName=".AllLessonsActivity" />
        <activity
            android:name=".webclient.WebclientActivity"
            android:label="Webclient"
            android:parentActivityName=".AllLessonsActivity" />


    </application>

</manifest>
